<!-- <div>{{received_todo.sno}}</div> -->
<div [ngClass]="{'strike': !received_todo.active}">{{received_todo.title}}</div>
<div [ngClass]="{'strike': !received_todo.active, 'fst-italic':true }">{{received_todo.desc}}</div>

<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]=!received_todo.active (change)="checkCheckBoxvalue($event)" >
    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"  > -->
    <!-- (change)="checkCheckBoxvalue($event)" (click)=onCheckboxClick(received_todo)  -->
    <label class="form-check-label" for="exampleCheck1">Mark as done</label>
</div>

<button class="btn btn-danger" (click)="onClickDelete(received_todo)">Delete</button>
<br/>

