<form (ngSubmit)="onAddFormSubmit()">
    <div class="mb-3">
      <label for="title_id" class="form-label">Title</label>
      <input type="text" class="form-control" id="title_id" name="title_id"  [(ngModel)]="title_ng_model">
      {{title_ng_model}}
    </div>
    <div class="mb-3">
      <label for="description_id" class="form-label">Description</label>
      <input type="text" class="form-control" name ="description_id" id="description_id" [(ngModel)]="desc_ng_model">
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #343a40;border-color: black;">Add To-do</button>
  </form>